body html {
    height: 100%;
    margin: 0;
}

.pozadi {
    background: url(/web/imgs/pixelshardaaaa.png);
    animation: pozadii 1ms infinite;
    position: fixed;
    z-index: -1;
    width: 200%;
    height: 200%;
    top: 0;
    left: 0;
}

.bgTtp {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    width: 1920px;
    height: 550px;
    z-index: 0;
    position: fixed;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    position: absolute;
    margin-top: -2px;
    text-align: right;
    padding-left: 1093px;
}

a {
    text-underline-offset: 1px;
    color: #B1A8B9;
}

li {
    padding-top: 10px;
    margin: 5px;
    color: aliceblue;
    text-align: right;
    justify-content: right;
}

#navBar {
    width: 1400px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

.titleBar {
    width: 1400px;
    height: 30px;
    position: absolute;
    background-color: #4d4f4f;
    border: 1px solid #575a5a;
    left: 50%;
    margin-left: -700px;
    border-radius: 10px 10px 0 0;
    z-index: 100;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5);

}

#nadpis {
    color: white;
    padding-top: 4px;
    padding-left: 48%;
    position: absolute;
    overflow: hidden;
    animation: horizontal-shaking 5s infinite;
    text-shadow: 0.25px 0.25px 1px #ff0000;
    animation: text-shadow-shaking 0.5s infinite;

}

#ikony {
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
    letter-spacing: 5px;
}

#center {
    text-align: center;
    align-content: center;
    font-family: 'Courier Prime', monospace;
}

#logo {
    padding: 20px;
    padding-bottom: 40px;
}

#lolx {

    padding: 10px;
    padding-top: 65px;
}

#mute {
    position: fixed;
    left: 15px;
    bottom: 20px;
    cursor: not-allowed;
}

#mute:hover {
    animation: jump-shaking 1s infinite;
}

.obsah {
    width: 1400px;
    height: 730px;
    position: absolute;
    top: 155px;
    left: 50%;
    margin-left: -700px;
    background-color: rgba(77, 79, 79, 0.4);
    border: 1px solid #575a5a;
    border-radius: 0 0 10px 10px;
    z-index: 99;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

@keyframes pozadii {
    from {
        filter: brightness(100%);
    }

    to {
        filter: brightness(120%);
    }
}

@font-face {
    font-family: fontLogo;
    src: url(/web/fonts/valium.regular.ttf);
}

@keyframes horizontal-shaking {

    0%,
    20%,
    40%,
    60%,
    80% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(1px);
    }

    30% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(1px);
    }

    70% {
        transform: translateX(-1px);
    }

    90% {
        transform: translateX(1px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes text-shadow-shaking {

    0%,
    20%,
    40%,
    60%,
    80% {
        text-shadow: 0 0 0 transparent;
        /* žádný stín */
    }

    10% {
        text-shadow: 2px 0 1px red;
        /* pozitivní pohyb stínu */
    }

    30%,
    50%,
    70%,
    90% {
        text-shadow: -3px 0 1px rgb(0, 145, 255);
        /* negativní pohyb stínu */
    }

    100% {
        text-shadow: 0 0 0 transparent;
        /* žádný stín na konci */
    }
}

@keyframes jump-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateY(-9px)
    }

    35% {
        transform: translateY(-9px) rotate(17deg)
    }

    55% {
        transform: translateY(-9px) rotate(-17deg)
    }

    65% {
        transform: translateY(-9px) rotate(17deg)
    }

    75% {
        transform: translateY(-9px) rotate(-17deg)
    }

    100% {
        transform: translateY(0) rotate(0)
    }
}